<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Enviar parametros del request http get - url</title>
</head>
<body>
<h1>Enviar parametros del request http get - url</h1>

<ul>
<li><a th:href="@{/params/string(texto='Hola giovanni')}">/params/string?texto=Hola giovanni</a></li>
<li><a th:href="@{/params/string(texto='Que tal giovanni')}">/params/string?texto=Que tal giovanni</a></li>
<li><a th:href="@{/params/mix-params(saludo='Como estas giovanni',numero =7)}">/params/mix-params?saludo='Como estas giovanni',numero =7</a></li>
<li><a th:href="@{/params/mix-params-request(saludo='Como estas giovanni',numero =7)}">/params/mix-params-request?saludo='Como estas giovanni',numero =7</a></li> 



</ul>

</body>
</html>